CONTRACT_ADDRESS=0x90ED1c6563e99Ea284F7940b1b443CE0BC4fC3e4
RPC_URL=https://ethereum-holesky-rpc.publicnode.com
EVENT_SIGNATURE=WithdrawnValidatorsSubmitted(address,uint8,uint256,bytes[],uint256)
ABI=abi/IStaderOracle.json
FROM_BLOCK=19761727